<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - GitServer</title>
    <meta charset="utf-8" />
    <link href="~/semantic/semantic.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/semantic/semantic.min.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
    <div class="full height">
        <noscript>Please enable JavaScript in your browser!</noscript>
        <div class="following bar light">
            <div class="ui container">
                <div class="ui grid">
                    <div class="column">
                        <div class="ui top secondary menu">
                            <a class="item brand" href="/">
                                <img src="/img/logo_white.svg" alt="GitServer" class="logo-image" />
                            </a>
                            <a class="item" href="/">首页</a>
                            <a class="item" href="#">探索</a>
                            <div class="right menu">
                                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                                {
                                    <a class="item" href="#">@ViewContext.HttpContext.User.Identity.Name</a>
                                    <a class="item" href="/User/Signout">注销</a>
                                }
                                else
                                {
                                    <a class="item" href="/User/Login">登录</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container dashboard">
            @RenderBody()
        </div>        
    </div>
    <footer>
        <div class="ui container">
            <div class="ui left">
                LineZero © 2017 GitServer 当前版本: 0.1
            </div>
            <div class="ui right links">
                <a target="_blank" href="https://github.com/linezero/GitServer">GitHub</a>
            </div>
        </div>
    </footer>
</body>
</html>
