@using GitServer.Extensions
@using GitServer.Models
@using GitServer.SyntaxHighlighing
@model BlobModel

@{
	ViewBag.Title = Model.Name;
}

@if(Model.IsBinary)
{
	<p>This file is binary and cannot be displayed.</p>
}
else
{
	@Html.HighlightCode(Model.Content, Highlighter.FromExtension(System.IO.Path.GetExtension(Model.Name)), "code")
}